body{
    padding: 0px;
    margin: 0px;
}
.card{
    height: auto;
    margin-top: 90px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card .card-top{
    height: 70%;
}
.card .card-top img{
    height: 210px;
    border-radius: 3px 3px 0px 0px;
}
.card .card-bottom{
    height: 30%;
    margin: 10px 0px 10px 5px;
}
.card .card-bottom h6{
    font-size: 15px;
    font-weight: bolder;
    color: #616161;
}
.card .card-bottom p{
    font-size: 14px;
    color: black;
}
a{
    color: #313131;
}
a:hover{
    color: #313131;
    text-decoration: none;
}


/* -------Selected Image view at productViewPage---------------- */

.selected_image{
    margin-top: 80px;
    height: 500px;
    width: 501px;
}
.select_cart_or_buy{
    margin-top: 10px;
    margin-left: 10px;
}
.select_cart_or_buy a button{
    width: 210px;
    margin-right: 10px;
    height: 50px;
}
.selected_image_details{
    margin-top: 80px;
    padding-top: 10px;
}
#selected_brand{
    font-weight: bolder;
    color: #616161;
}
#seleted_product{
    font-family: auto;
}
#special_price{
    color: #54B435;
    margin-bottom: 0px;
}
#selected_sp{
    font-size: 25px;
    color: #54B435;
}
.selected_image_details .product_detail .prod_detail_expand{
    float: right;
    cursor: pointer;
}
#prod_full_detail{
    display: none;
}

/* -------Selected Image view at productViewPage end---------------- */




/* -------Selected Image view at CartPage---------------- */
#cart-info{
    height: 230px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    margin-bottom: 10px;
}
.productInCart-left{
    float: left;
    width: 20%;
}
.productInCart-left img{
    height: 170px;
    width: 150px;
    margin-bottom: 10px;
}
.productInCart-right input{
    width: 50px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
#wishlist-remove{
    float: right;
}
#wishlist-remove span{
    margin-right: 10px;
}

.productInCart-right{
    float: left;
    width: 80%;
}
#cartProdBrand{
    font-weight: bold;
    color: #616161;
}
#cartProdDiscription{
    font-size: 18px;
    font-family: sans-serif;
}

#payment-info{
    height: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: 48px;
    padding: 20px;
}
#payment-info h6{
    font-weight: bolder;
    color: rgb(1, 155, 129);
}
#totalAmt{
    font-weight: bolder;
    color: rgb(1, 155, 129);
}

#place-order button{
    border: none;
    background-color: rgb(255, 71, 4);
    color: white;
    width: 100%;
    height: 40px;
    font-size: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
}
#place-order button:hover{
    background-color: rgb(228, 63, 4);
}

/* -------Selected Image view at CartPage end---------------- */



/* ------- CheckoutPage---------------- */

#deliveryAddress{
    padding: 0px 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#deliveryAddress h5{
    margin-bottom: 20px;
    color: rgb(1, 155, 129);
    font-family: 'Rubik', sans-serif;
}
#deliveryAddress p{
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 12px;
}
#address-area{
    height: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 25px 30px;
    font-family: 'Rubik', sans-serif;
}
#address-area button{
    border: none;
    background-color: #fff;
    outline: 1px solid rgb(1, 155, 129);
    font-size: 10px;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 10px;
    vertical-align: top;
    color: rgb(1, 155, 129);
}
#address-area span{
    margin-left: 8px;
    font-weight: 600;
    font-size: 13px;
    vertical-align: top;
}
#address-area p{
    margin-left: 25px;
    margin-top: 15px;
    font-weight: 300;
    width: 350px;
}
#secondAddressArea{
    display: none;
}



/* ------- CheckoutPage end---------------- */